<div class="container">
  <h1><%= @cocktail.name %></h1>

  <p>
    Cocktail:
    <strong><%= @cocktail.name %></strong>
  </p>
  
  <p>
    <%= link_to 'New Dose', new_cocktail_dose_path(@cocktail) %>
  </p>

  <hr>

  <%= link_to 'Back', root_path %>
</div>